@charset "utf-8";
/* CSS Responsive Restaurant Page Document */


/* == DESKTOPS, SOME LAPTOPS, IPAD === */

@media screen and (min-width: 950px) {
  #maincontent{
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
.inside header {
    color: #fff;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  .main-title {
    font-size: 1.25em;
    letter-spacing: 2.5px;
  }
#reviews-container h2 {
  font-size: 1px;
}
ul li {
  font-size: .75em;
  letter-spacing: 1px;
}
.restaurant-img {
	max-width: 100%;
  overflow: hidden;
}
#restaurant-hours {
display: block;
/*width: 50%;*/
margin-left: auto;
margin-right: auto;
font-size: 1.25em;

}
#restaurant-address {
  font-size: 1.5em;
}

}


/* === TABLETS === */

@media screen and (min-width: 721px){
  #maincontent{
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-title {
    font-size: 1.25em;
    letter-spacing: 2.5px;
  }
  #reviews-container h2 {
      font-size: 2.25em;
      text-align: center;

    }
    #reviews-container {
      width: 100%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    #restaurant-container {
      width: 100%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    .restaurant-img {
    	max-width: 100%;
      overflow: hidden;
    }
    #restaurant-img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
}

@media screen and (min-width: 551px) and (max-width: 721px) {
  #maincontent{
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-title {
    font-size: 1.25em;
    letter-spacing: 2.5px;
  }

  #restaurant-cuisine {
    width: 400px;
  }
  #restaurant-container {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurant-img {
    max-width: 100%;
    overflow: hidden;
  }

  #restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }
#reviews-container h2 {
    font-size: 2em;
    text-align: center;


  }
  #reviews-container {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  #restaurant-container {
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .restaurant-img {
    max-width: 100%;
    overflow: hidden;
  }
}



/* === CELL PHONES AND SOME TABLETS === */

@media screen and (min-width: 100px) and (max-width: 550px){

#maincontent{
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  font-size: 1em;
  letter-spacing: 2.5px;
}

#restaurant-container {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#reviews-container h2 {
  font-size: .1em;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  max-width: 100%;
  overflow: hidden;
}

td {
  font-size: 1.75em;
}


#restaurant-hours {
  width: 100%;
  max-width: 300px;
  font-size: .5em;

}

#reviews-container h2 {
  font-size: 1.5em;
}

#reviews-container{
  width: 100%;
  max-width: 300px;
}
#restaurant-address {
  font-size: 1em;
}
.inside #footer {
  width: 100%;
  display: flex;
	flex-direction: column; /* column for mobile */
  align-content: center;
  text-align: center;

}
}
